.cont {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  display: none;
  /* animation: formFade 2s ease-in-out; */
  opacity: 0;
  transition: opacity 0.5s ease-in-out, display 0.5s ease-in-out;
}
.container-box {
  width: 100%;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.container-box .search {
  width: 50%;
  height: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search-text {
  width: 100%;
  height: 100%;
  background-color: #171414;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  animation-name: formFade;
  animation-timing-function: ease-in-out;
  animation-duration: 1.4s;
  outline: none;
  border: none;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  margin-right: 4px;
}

#search-btnnn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.search input {
  width: 90%;
  border-radius: 10px;
  padding-right: 3rem;
  height: 2.5rem;
  animation-name: rightflt;
  animation-timing-function: ease;
  animation-duration: 1.4s;
}
.search i {
  color: black;
  border-radius: 10px;
  background-color: white;
}
.boxone {
  width: 100%;
  height: 30vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.boxone .box {
  width: 23%;
  height: 38vh;
  border-radius: 10px;
}
@keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rightflt {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes formFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.boxone .a1 {
  background: linear-gradient(to top right, #171414 45%, #f76757 100%);
  animation-name: slideup, opac;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  display: initial !important;
}
.boxone .a2 {
  background: linear-gradient(to top right, #171414 45%, #eebe3a 100%);
  animation-name: slideup, opac;
  animation-timing-function: ease ease-in-out;
  animation-duration: 1.4s;
}
.boxone .a3 {
  background: linear-gradient(to top right, #171414 45%, #9955f2 100%);
  animation-name: slideup, opac;
  animation-timing-function: ease-in-out;
  animation-duration: 1.4s;
}
.box .navbr {
  display: flex;
  justify-content: flex-start;
}
.box .title {
  width: 20%;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.box .title1 {
  width: 20%;
  display: inline;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}
.box h2 {
  text-align: left;
  margin: 50px 5px;
  font-size: 30px;
  color: white;
  font-family: sans-serif;
}
.box .dt {
  width: 100%;
  height: 30px;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 0rem;
  margin-left: 5px;
}
.dt .tracks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tracks p {
  font-size: 10px;
  color: white;
}
.tracks i {
  color: white;
}
.dt .min {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.min p {
  font-size: 10px;
  color: white;
}
.min i {
  color: white;
}
.dt .arrow1 {
  border-radius: 50%;
  background-color: green;
}
.boxone .box2 {
  width: 25%;
  height: 30vh;
  background-color: blue;
  border-radius: 10px;
}
.boxone .box3 {
  width: 25%;
  height: 30vh;
  background-color: blue;
  border-radius: 10px;
}
.boxsec {
  width: 100%;
  height: 30vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
/*second box*/
.boxsec {
  width: 100%;
  height: 35vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.boxsec .box {
  width: 23%;
  height: 38vh;
  border-radius: 10px;
}
.boxsec .b1 {
  background: linear-gradient(to top right, #171414 45%, #1027be 100%);
  animation-name: slideup, opac;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.boxsec .b2 {
  background: linear-gradient(to top right, #171414 45%, #24e0f1 100%);
  animation-name: slideup, opac;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.boxsec .b3 {
  background: linear-gradient(to top right, #171414 45%, #ec33b1 100%);
  animation-name: slideup, opac;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.box .title {
  width: 20%;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}
.box h2 {
  text-align: left;
  margin: 38px 5px;
  font-size: 35px;
  color: white;
  font-family: sans-serif;
}
.box .dt {
  width: 100%;
  height: 30px;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 0rem;
  margin-left: 5px;
}
.dt .tracks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tracks p {
  font-size: 10px;
  color: white;
}
.tracks i {
  color: white;
}
.dt .min {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.min p {
  font-size: 10px;
  color: white;
}
.min i {
  color: white;
}
.dt .arrow1 {
  border-radius: 50%;
  background-color: green;
}
.boxsec .box2 {
  width: 25%;
  height: 30vh;
  background-color: blue;
  border-radius: 10px;
}
.boxsec .box3 {
  width: 25%;
  height: 30vh;
  background-color: blue;
  border-radius: 10px;
}

/* responsiveness*/
@media (max-width: 1024px) {
  .right-panel {
    display: none;
  }
  .left-panel {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .left-panel .player-container .song-frequency {
    display: none;
  }

  .left-panel .player-container .song-details {
    width: 100%;
  }
}
@media (max-width: 596px) {
  .left-panel nav {
    flex-direction: column-reverse;
  }

  .left-panel nav .button-group {
    width: 100%;
    margin-top: 1rem;
    /* align items within the button group into center */
    justify-content: center;
  }

  .left-panel nav .button-extra {
    flex-direction: row-reverse;
  }
}
